}
#container {
    position: relative;
    width: 100%;
    height: auto;
}

body {
    
    height: 100%;
}

#row1{
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 10%;
    
    
}

#row2{
    width: 99%;
    display: block;
/*    border-style: solid;*/
    font-size: 40px;
}


#row3{
    width: 50%;
    display: inline-block;
/*    border-style: solid;*/
    font-size: 40px;
}

#row4{
    display: inline-block;
    font-size: 20px;
}

#row5{
    display: inline-block;
    width: 47%;
    font-size: 20px;
/*    border-style: solid;*/
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}             /* data determining the look of the navigation bar */

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}